// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$first-color: #798777;
$second-color: #A2B29F;
$third-color: #BDD2B6;
$fourth-color: #F8EDE3;
