<div data-controller="button">
  <p>
    <button class="btn btn-primary" data-action="click->button#buttonClick" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filter options
    </button>
  </p>
  <div class="collapse" id="collapseExample" data-button-target="expend">
    <div class="card card-body">
      <div class="d-inline filter">
        <label for="customRange2" class="form-label">Price range</label>
        <input type="range" class="form-range" min="0" max="100" id="customRange2">
      </div>
      <div class="d-inline filter">
        <label for="customRange2" class="form-label">Room's area range</label>
        <input type="range" class="form-range" min="10" max="200" id="customRange2">
      </div>
    </div>
  </div>
</div>
