<div class="container">
  <h1>Edit this studio</h1>
  <div class="yoga_studio mb-3">
    <%= render "yoga_studios/form", yoga_studio: @yoga_studio %>
    <%= link_to "Back to all studios",  yoga_studios_path %>
  </div>
</div>
