
<div class="d-flex">
<div class="cards p-1 m-3 flex-grow-1">
<div class="card-product rounded-4">
   <%= image_tag "9439b558529111.5a0035f98af61.jpg" %>
  <div class="card-product-infos">
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-1"> <strong> Enso Yoga Center</strong></li>
    <li class="list-group-item p-1">Price: <strong>19.5 <i class="fa-solid fa-euro-sign"></i></strong></li>
    <li class="list-group-item p-1">Class description with <strong>relevant info</strong> only.</li>
  </ul>
  </div>
</div>
<div class="card-product rounded-4">
   <%= image_tag "32111418074305.562c36617f506.jpg" %>
  <div class="card-product-infos">
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-1"> <strong> Green Yoga Center</strong></li>
    <li class="list-group-item p-1">Price: <strong>30 <i class="fa-solid fa-euro-sign"></i></strong></li>
    <li class="list-group-item p-1">Class description with <strong>relevant info</strong> only.</li>
  </ul>
  </div>
</div>
<div class="card-product rounded-4">
   <%= image_tag "JM-ITG-Tru3-Yoga-052.1578336355.4222.jpg" %>
  <div class="card-product-infos">
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-1"> <strong> Yogibar Center</strong></li>
    <li class="list-group-item p-1">Price: <strong>25 <i class="fa-solid fa-euro-sign"></i></strong></li>
    <li class="list-group-item p-1">Class description with <strong>relevant info</strong> only.</li>
  </ul>
  </div>
</div>
<div class="card-product rounded-4">
   <%= image_tag "831c2e18074305.562c3660be52a.jpg" %>
  <div class="card-product-infos">
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-1"> <strong> Yoga Lounge</strong></li>
    <li class="list-group-item p-1">Price: <strong>10.5 <i class="fa-solid fa-euro-sign"></i></strong></li>
    <li class="list-group-item p-1">Class description with <strong>relevant info</strong> only.</li>
  </ul>
  </div>
</div>
</div>
<div class=" p-3 ">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.4666948553677!2d13.389248415939289!3d52.50689267981178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851d150f75b59%3A0x79345cc8e68056cc!2sLe%20Wagon%20Berlin%20-%20Coding%20Bootcamp!5e0!3m2!1sen!2sde!4v1677530935915!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
