<% if booking.booking_status == 'pending' %>
      <p class="booking-status" style="background-color: #f18d1f;"><i class="fa-solid fa-hourglass-half"></i></p>
    <% elsif booking.booking_status == 'accepted' %>
      <p class="booking-status" style="background-color: #97be30"><i class="fa-solid fa-circle-check"></i></p>
    <% elsif booking.booking_status == 'rejected' %>
      <p class="booking-status" style="background-color: #cd4643;"><i class="fa-solid fa-circle-xmark"></i></p>
    <% end %>
