

<div class="banner p-3 m-3 mt-0" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/yannic-laderach-Dqx4XWuXu7w-unsplash.jpg);">
  <div class="container">
    <h1>Zen brings <strong>calmness</strong> to <strong>healthy people</strong>!</h1>
    <p>Change your life and find a place to yoga.</p>
    <a class="btn btn-flat" href="#">Rent now</a>
  </div>
</div>

</div>
