
  <!--bg picture-->
  <div class="d-flex h-100 text-center text-bg-dark">
  <div class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1593810451137-5dc55105dace?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80'); height: 100vh; no-repeat center center/cover;">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">ZenRental</h3>
      <!--navbar goes here-->
      <nav>
      </nav>
      <!--navbar goes here-->
    </div>
  </header>
  <!--centered hero-->
<main>
  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Find Your Perfect Practice Space</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">ZenRental connects yoga, meditation, and other holistic practitioners with a wide selection of available studios, making it easier than ever to find the ideal space for your practice. Whether you're a yoga instructor looking to list your studio or a student looking to book one, ZenRental offers unparalleled flexibility and ease of booking, so you can focus on achieving your inner peace and well-being. Join us today and discover your Zen.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">Learn More</button>
        </div>
      </div>
    </div>
</main>
  <!--centered hero-->
  <!--cards-->
<div class="card-group">
  <div class="card text-bg-light">
    <img src="https://images.unsplash.com/photo-1616940779493-6958fbd615fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="Yoga Studio 1">
    <div class="card-body">
      <h5 class="card-title">Studio 1</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">Book Now</button>
    </div>
  </div>
  <div class="card text-bg-light">
    <img src="https://images.unsplash.com/photo-1609611884865-4bb969258ca6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Studio 2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">Book Now</button>
    </div>
  </div>
  <div class="card text-bg-light">
    <img src="https://images.unsplash.com/photo-1599447421382-437e6fb32fb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Studio 3</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">Book Now</button>
    </div>
  </div>
</div>
<!--cards-->
<!--footer-->
  <footer class="mt-auto text-white-50">
    <p>ZenRental™</p>
  </footer>
  </div>
</div>
  </div>
